.btn {
  background-color: #0193a7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  min-height: 35px;
}

.red {
  background-color: red;
}

.active {
  /* opacity: 0.6; */
  border: 1px solid #fff;
}
